* {
    box-sizing: border-box;

}

html,
body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #F3F1EC;
    min-width: 460px;
}

.pictures {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    color: #363636;
    max-width: 1600px;
    font-size: 1em;
    margin: auto;
    justify-content: center;

}

img {
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

div > div {
    padding: 10px;
    margin: 10px;
    flex: 1;
    min-width: 250px;
    max-width: 100px;
    border-radius: 15px;

}

.title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #363636;
    padding-top: 15px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2% 30%;

}

.filter {
    display: inline-block;
    text-decoration: none;
    color: #363636;
    font-size: 1em;
    text-transform: uppercase;
    border: 2px solid #363636;
    border-radius: 15px;
    padding: 0 20px;
    margin: 0 10px;
    transition: all 0.3s;
}

.filter:hover {
    color: #F3F1EC;
    background-color: #363636;
    cursor: pointer;
}

.filter:focus {
    outline: none;
}

.filter:active {
    background-color: lightblue;
}

.active {
    background-color: #D3B9B8;
}

@media screen and (max-width: 850px) {
    .buttons {
        flex-direction: column;
    }

    .filter {
        padding: 5px 0;
        margin: 2% 15%;
    }
}
